body {
  font-family: "arima";
  background-color: #d09b71;
}
header {
  background-color: #f1e1e5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 50px solid #d09b71;
  border-radius: 30px;
  border-width: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline;
  margin: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
nav ul li a:hover {
  color: #d09b71;
}
.logo h1 {
  font-family: "chewy", cursive;
  font-size: 40px;
  color: #f6f1e3;
  margin: 0px;
  text-shadow: 4px 4px #a52a2a, -2px -2px #a52a2a;
}
h2 {
  font-family: "chewy", cursive;
  font-weight: bold;
  font-size: 45px;
}
.content {
  background-color: #feeddc;
  border-radius: 20px;
  font-family: "arima";
  font-size: 50px;
  padding: 1px;
}
